div.react-console-container {
	font-size: 14px;
	font-family:monospace;
	width:900px;
	height:200px;
	background:#efefef;
	padding:0.5em;
	overflow:auto
}

div.react-console-prompt-box {
	color:#444;
}

div.react-console-focus span.react-console-cursor {
	background:#333;
	color:#eee;
	font-weight:bold;
	animation: react-console-cursor-animation 1s infinite;
}

@keyframes react-console-cursor-animation {
	0% {
		background:#333;
		color:#eee;
	}
	50% {
		background:#333;
		color:#eee;
	}
	51% {
		background:#efefef;
		color:#444;
	}
	100% {
		background:#efefef;
		color:#444;
	}
}

div.react-console-message-error {
	color:#ef0505;
	font-weight:bold;
	padding:0.1em;
}

div.react-console-message-success {
	color:#187718;
	padding:0.1em;
}

span.react-console-prompt-label {
	font-weight:bold
}
