$background-color: #efefef;
$text-color: #444;
$highlight-background-color: #333;
$highlight-text-color: #eee;

$red: #ef0505;
$green: #187718;

div.react-console-container {
	font-size: 14px;
	font-family: monospace;
	width: 900px;
	height: 200px;
	background: $background-color;
	padding: 0.5em;
	overflow: auto;
}

div.react-console-prompt-box {
	color: $text-color;
}

div.react-console-focus span.react-console-cursor {
	background: $highlight-background-color;
	color: $highlight-text-color;
}

div.react-console-nofocus span.react-console-cursor {
	background: $background-color;
	color: $text-color;
	outline: 1px solid $highlight-background-color;
	outline-offset: -1px;
}

div.react-console-focus span.react-console-cursor-idle {
	animation: react-console-cursor-animation 1s infinite;
}

@keyframes react-console-cursor-animation {
	0% {
		background: $highlight-background-color;
		color: $highlight-text-color;
	}
	50% {
		background: $highlight-background-color;
		color: $highlight-text-color;
	}
	51% {
		background: $background-color;
		color: $text-color;
	}
	100% {
		background: $background-color;
		color: $text-color;
	}
}

div.react-console-message {
	padding:0.1em;
}

span.react-console-prompt-label {
	font-weight: bold;
}
